.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.topBar {
  background-color: #020327;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.topBar h2 {
  margin-left: 20px;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #007bff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.badge {
  background-color: yellow;
  border-radius: 50%;
  padding: 0 5px;
  margin-left: 5px;
}
