.inventory-table {
  width: 100%;
  border-collapse: collapse;
}

.inventory-table th,
.inventory-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.inventory-table tr:nth-child(even) {
  background-color: #433030;
}

.inventory-table tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

.inventory-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1eb0f9;
  color: white;
}
